<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-uikit-uiviewcontroller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6A5C6091E6EF83B00285BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A5C61D1E6EF83B00285BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A5C6281E6EF83B00285BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
